.listitem--is-done {
  text-decoration: line-through;
  color: gray;
}

ol > li {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  margin: 0.25rem;
  padding: 0.25rem;
}

.button {
  padding: 5px;
  margin: 5px;
}
