body {
  font-family: "Oswald", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 90px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCy-Ok43-O9OwYK08JSEkODUMI1r2ExNg4cy4DO_rVUMotHUNxsk5VijJiAtoEL0wFGZ4&usqp=CAU");
  background-position: fixed;

  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  padding: 5px;
}
